git+https://github.com/huggingface/diffusers.git #diffusers==0.16.0.dev0
-f https://storage.googleapis.com/jax-releases/libtpu_releases.html
jax[tpu]==0.4.5
flax==0.6.7
transformers
chex
datasets
optax
orbax
ftfy
tensorboard
Jinja2
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
gradio
einops
imageio
decord
opencv-python
scikit-image
bs4
